<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>{% block title %}{{ title }}{% endblock title %}</title>
</head>

<body>
    <div id="header" class="container">

        <span class="logo">Tweeter</span>
        {% if user.is_authenticated %}
        Welcome {{ user.username }}
        <a href="{% url 'logout' %}">log-out</a>.
        You can <a href="{% url 'edit' %}">edit
            your profile</a>

        <ul class="menu">
            <li {% if section == "dashboard" %}class="selected" {% endif %}>
                <a href="{% url  'dashboard' %}">My dashboard</a>
            </li>
            <li {% if section == "images" %}class="selected" {% endif %}>
                <a href="#">Images</a>
            </li>
            <li {% if section == "people" %}class="selected" {% endif %}>
                <a href="#">People</a>
            </li>
        </ul>
        {% endif %}
    </div>
    
    <div class="container">
        {% block content %}
        Replace this!
        {% endblock content %}
    </div>
</body>

</html>